header{                
    position:sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #FFF;
    max-width: 70%;
    margin: auto;
}
.logo{                         
    margin-left: 80px;
    margin-right: 100px;
}

.nav-status{                   /* 헤더 소개,입양하기,입양후기,문의제보,소식 란*/
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    margin-left: 22%;
}

/* 수정 메뉴바 언더라인 제거 */
.nav-status a{
    text-decoration-line: none;
}

.nav{
    display: flex; 
    max-width: 100%;
    margin: auto; 
    margin-left: 0;
    padding-top: 20px;
    height: 70px;
}

.nav_name{                            /* 헤더 부분 글씨*/
    font-size: 20px;
    color:black;
}

main{
    max-width: 70%;
    margin: auto;
}

.nav_name:hover{                    /* 헤더 이벤트 효과 / 색상 변경 필요*/
    padding-bottom: 7px;
    border-bottom: 3px solid red;    
}

.img-banner{
    width: 100%;
    height: 600px;
    background-color: #bb7171;
    border-radius: 30px;
    background-image: url('C-Main-topbanner.jpg');
    margin-bottom: 70px;
}

.sub-title-plus{        /* 글씨, + 분리*/
    display: flex; 
    margin-bottom: 20px;
}

.plus{                  
    display:flex; 
    align-items: center; 
    background-color: #FDC456; 
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    font-size: 50px; 
    font-weight: bolder;
    color: #FFF;
    padding-left: 3px;
    padding-bottom: 12px;
}

.adopt{                 /*입양하기, 입양후기, 홍보영상 글씨*/
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bolder;
}

.impormation{           /*입양 정보*/
    display:flex;
    max-width: 100%;
}

.name_size{                 /*입양하기 동물 이름*/
    font-weight: bolder;
    font-size:20px;
    margin-bottom: 10px;
    margin-right: 6px;
}

.sub_name{                  /*입양하기 동물 품종*/
    font-size: xx-small;
    color: #AAAAAA;
}

.age{                       /*입양 동물 나이*/
    margin-left: auto;
    font-size: 15px;
    color: #9B9B9B;
    margin-top: 5px;
}

.solid{                     /*실선*/
    height: 20px;
    color: #9B9B9B;
    border: 0.5px solid;
    margin: 0 5px; 
    margin-top: 7px;
}

.gender{                    /*성별*/
    font-size: 15px;
    color: #9B9B9B;
    margin-top: 5px;
}

.review_sub_name{           /*입양후기 이름*/
    font-size:20px;
    font-weight: bolder;
}

.review_name_size{              /*후원하기 보조 설명*/
    color: #9B9B9B;   
}

.col-md-3{                          /*부트스트랩 사진란 밑 간격*/
    margin-bottom: 100px;
}

.ad{
    width: 100%;
    height: 600px;
    background-color: #bb7171;
    border-radius: 30px;
    background-image: url('C-Main-op.jpg');
    margin-bottom: 70px;
}

/* 풋터 수정 */
footer{
    position: fixed;
    bottom: 0; 
    width: 100%;
    background-color: #D9D9D9;
    height: 15%;
}