/* 헤더 샘플 */
.header {
  width: 100%;
  height: 80px;
  background-color: #9fc8d8;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.footer {
  width: 100%;
  height: 80px;
  background-color: #e4e4e4;
}

/* FAQ 검색창 */
.FAQ_Container {
  width: 70%;
  margin: 40px auto;
}

.search-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin-bottom: 30px;
}

.search-container input[type="text"] {
  width: 100%;
  padding: 10px 20px 10px 40px;
  border-radius: 10px;
}

.search_icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 18px;
}

/* FAQ 상단 배너 */
.Top-Banner {
  margin: auto;
  width: 100%;
  max-width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.TB-text {
  flex: 1;
  padding-right: 20px;
}

.TB-text h1 {
  margin-bottom: 10px;
}

.TB-text-btn {
  display: flex;
  gap: 10px;
}

.FAQ-btn {
  border-color: #5297AC;
  background-color: #5297AC;
  color: #fff;
}

.FAQ-btn:hover {
  border-color: #5297AC;
  color: #fff;
  background-color: #325f6c;
}

.FAQ-btn:active {
  color: #fff;
  background-color: #325f6c;
}

.Question-btn {
  color: white;
  background-color: #FDC456;
}

.Question-btn:hover {
  color: #fff;
  background-color: #f5a300;
}

.Question-btn:active {
  color: #fff;
  background-color: #f5a300;
}

.TB-image {
  flex: 2;
  border-radius: 10px;
  background-color: #1b6683;
  overflow: hidden;
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-height: 400px;
}

.TB-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 아코디언 버튼 부트스트랩 수정(우선순위 지정) */
.accordion-button:focus {
  box-shadow: none !important;
  border-color: none !important;
}

.accordion-button:not(.collapsed) {
  color: #fff !important;
  background-color: #bdbdbd !important;
}