@import url(reset.css);

/* 패딩수정 */
.bar-style {
    background-color: #ECECEC;
    height:35px;
    padding:0 15%;
}

.bar-style select{
    background-color: #ECECEC;
    height:100%;
    width:12%;
    padding:0 10px;
}
.bar-style i{
    font-size:22px;
    padding-right:6px;
}